@model IEnumerable<Resume.Models.Experience>

@{
    ViewBag.Title = "Experience";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Position
        </th>
        <th>
            Responsibility
        </th>
        <th>
            Skill
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Responsibility.Position.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsibility.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skill.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExperienceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExperienceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExperienceId })
        </td>
    </tr>
}

</table>
