@model Resume.Models.Position

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Position</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<ul data-bind="foreach: responsibilities">
    <li>
        <H3 data-bind="text: Name"></H3>
        <p data-bind="text: Description"></p>
    </li>
</ul>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PositionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/models/responsibility.js")
    <script>
        function PositionViewModel() {
            var self = this;

            self.responsibilities = ko.observableArray([]);

            var positionData = $.getJSON("/api/position/@Model.PositionId/responsibilities", function (data) {
                //DO STUFF WITH DATA
                $.each(data, function (index, item) {
                    self.responsibilities.push(new Responsibility(item));
                });
            });
        }

        ko.applyBindings(new PositionViewModel());
    </script>
}
