@model Resume.Models.Position

@{
    ViewBag.Title = "Edit Position";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Position</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <fieldset>
            <legend>Position</legend>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Title)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Company)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, "Multiline")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    @Html.EditorFor(model => model.StartDate)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    @Html.EditorFor(model => model.EndDate)
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </fieldset>
    </div>
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

